@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul>
        <li>@Html.ActionLink("Organization Categories", "Index", "OrganizationCategories")</li>
        <li>@Html.ActionLink("Organizations", "Index", "Organizations")</li>
        <li>@Html.ActionLink("Events", "Index", "Events")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Cruelty Spot Categories", "Index", "CrueltySpotCategories")</li>
        <li>@Html.ActionLink("Cruelty Spots", "Index", "CrueltySpots")</li>
    </ul>
</div>

<script type="text/javascript">
    $('#topMenu .home').addClass('active');
</script>