<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - America For Animals</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <h1>America 4 Animals</h1>
        </header>
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - America For Animals</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
    </body>
</html>
