@model AFA.Web.Models.EventDetailModel

@Html.ValidationSummary()

<fieldset>

    <div class="control-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.StartDateTime, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(m => m.StartDateTime)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.StartHour, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StartHour)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.StartMinute, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.StartMinute)
        </div>
    </div>

</fieldset>

<div class="control-group">
    <div class="controls">
        @Html.ActionLink("Cancel", "Index", "Events", null, new { @class = "btn" })
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>

<script type="text/javascript">
    
    $(function () {
        $("#StartDateTime").datepicker();
    });
    
</script>