<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - America For Animals</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/bootstrap", "~/bundles/css", "~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                @Html.Action("Header", "Common")
            </header>


            <section class="row-fluid">
                @RenderBody()
            </section>    
            
        </div>
        <div id="push"></div>
        </div>
    <footer>
        <div class="container">
        <p>&copy; @DateTime.Now.Year - America For Animals</p>
        </div>
    </footer>
        
    
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/jqueryui")
</body>
</html>
