@model AFA.Web.Models.OrganizationDetailModel
@Html.ValidationSummary()

<fieldset>
    <div class="control-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.Description)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.AddressLine1, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.AddressLine1)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.AddressLine2, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.AddressLine2)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.City, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.City)
        </div>
    </div>

    <div class="control-group">
        @Html.Label("State", new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(m => m.StateProvinceId, Model.AllStateProvinces)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Zipcode, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Zipcode)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.PhoneNumber)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Email)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.WebpageUrl, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.WebpageUrl)
        </div>
    </div>
    
    <div class="control-group">
        @Html.LabelFor(m => m.NeedsVolunteers, new { @class = "control-label" })
        <div class="controls">
            @Html.CheckBoxFor(m => m.NeedsVolunteers)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Categories</label>
        <div class="controls">
            @Html.EditorFor(m => m.AllCategories)
        </div>
    </div>
    
</fieldset>

<div class="control-group">
    <div class="controls">
        @Html.ActionLink("Cancel", "Index", "Organizations", null, new { @class = "btn" })
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>
