@model IEnumerable<AFA.ServiceHostAndWeb.Models.OrganizationModel>

@{
    ViewBag.Title = "Organizations";
} 

<h2 class="page-header">@ViewBag.Title</h2>

<ul>
    @foreach (var org in Model)
    {
        <li class="margin-bottom">
            @Html.ActionLink(org.Name, "Details", "Organizations", new {id = org.Id}, null)
            <span>
                (@Html.ActionLink(org.OrganizationAlliesCount + " allies", "Users", "Organizations", new {organizationId = org.Id}, null))
            </span>

            @Html.ActionLink("Edit", "Edit", "Organizations", new {id = org.Id}, new {@class = "margin-left btn btn-info"})

            @using (Html.BeginForm("Delete", "Organizations", new {id = org.Id}, FormMethod.Post, new {@class="inline"}))
            {
                <input type="submit" value="Delete" class="margin-left btn btn-danger" />
            }
            
        </li>
    }
</ul>

<div>@Html.ActionLink("Add New", "Add", "Organizations", null, new {@class="btn btn-primary"})</div>